@charset "UTF-8"

$font-family: 'Lato'
$color: #F16D7F
$backgroundcolor: #F1E4E6

*
    margin: 0
    padding: 0

body
    height: 100%

main
    margin: 1 1 auto

.wrapper
    min-height: 100%
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -ms-flex-direction: column
    flex-direction: column

.container
    max-width: 1140px
    margin: 0 auto

.main-header
    height: 839px
    margin-bottom: 65px

.navigation
    height: 75px
    background: #222222
    padding: 0 2%

.panel_navigation
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-pack: justify
    -ms-flex-pack: justify
    justify-content: space-between

.panel
    padding-top: 18px
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-pack: justify
    -ms-flex-pack: justify
    justify-content: space-between
    -webkit-box-align: end
    -ms-flex-align: end
    align-items: flex-end

.navileft
    width: 111px
    height: 38px
    position: relative

.naviright
    width: 168px
    height: 37px

.line_search
    position: absolute
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    margin-left: 121px
    margin-bottom: 5px
    opacity: 0

    & input
        outline: none

    .navileft:hover &
        opacity: 1

.searchinput
    height: 15px
    font-size: 14px
    padding: 6px 0 4px 10px
    border: 1px solid #cecece
    background: $backgroundcolor
    border-radius: 45px

.main-item:focus~.sub-menu,
.main-item:active~.sub-menu,
.sub-menu:hover
    display: block

.main-item
    position: relative

.sub-menu
    display: none
    position: absolute
    margin-top: 20px
    height: 764px
    width: 232px
    background-color: #FFFFFF
    margin-left: 168px

    & li
        list-style: none
        margin-left: 55px
        margin-bottom: 15px

.menu_H3
    font-family: $font-family
    font-style: normal
    font-weight: 700
    font-size: 14px
    line-height: 17px
    color: #000000
    margin-top: 37px
    margin-left: 34px
    margin-bottom: 24px

.menu_h4
    font-family: $font-family
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 17px
    color: $color
    margin-top: 20px
    margin-bottom: 12px
    margin-left: 33px

.menu_link
    text-decoration: none
    font-family: $font-family
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 17px
    color: #6F6E6E

    &:hover
        color: $color

.banner
    height: 764px
    background: $backgroundcolor
    margin-bottom: 65px

.label
    display: -webkit-box
    display: -ms-flexbox
    display: flex

    &_image
        height: 764px
        width: 800px
        margin-left: -225px
        max-width: 100%

    &_txt
        font-family: $font-family
        margin-top: 290px
        margin-left: -80px
        border-left: 12px solid $color
        height: 100%
        max-width: 100%

    .banner_H1
        font-size: 48px
        line-height: 58px
        margin-left: 16px

.text-focus-in
    -webkit-animation: text-focus-in 3s cubic-bezier(0.645, 0.045, 0.355, 1.000) 2s infinite both
    animation: text-focus-in 3s cubic-bezier(0.645, 0.045, 0.355, 1.000) 2s infinite both

@-webkit-keyframes text-focus-in
  0% 
    -webkit-filter: blur(12px)
    filter: blur(12px)
    opacity: 0

  100% 
    -webkit-filter: blur(0px)
    filter: blur(0px)
    opacity: 1

@keyframes text-focus-in
    0%
        -webkit-filter: blur(12px)
        filter: blur(12px)
        opacity: 0

    100%
        -webkit-filter: blur(0px)
        filter: blur(0px)
        opacity: 1

.banner_txt
    font-size: 32px
    margin-left: 16px

.content
    display: grid
    grid-template-columns: repeat(3, 31%)
    grid-template-rows: repeat(2, 50%)
    row-gap: 6%
    column-gap: 3%
    justify-content: center
    align-items: center
    justify-items: center
    margin-bottom: 96px

    .accessories
        grid-column: 1/4
        & .item-text2
            position: absolute
            margin: -113px 491px
        & .item-text-3
            font-family: $font-family
            font-style: normal
            font-weight: 400
            font-size: 15px
            line-height: 19px
            text-align: center
            color: #FFFFFF
            white-space: nowrap

        & .item-text-4
            font-family: $font-family
            font-style: nowrap
            font-weight: 700
            font-size: 24px
            line-height: 28px
            text-align: center
            color: $color
            white-space: nowrap
            &:hover
                color: #FFFFFF

    & item
        position: relative

        & img
            filter: brightness(50%)
            max-width: 100%

        & .item-text
            position: absolute
            margin: -160px 103px

        & .item-text-1
            font-family: $font-family
            font-style: normal
            font-weight: 400
            font-size: 16px
            line-height: 19px
            text-align: center
            color: #FFFFFF
            white-space: nowrap

        & .item-text-2
            font-family: $font-family
            font-style: normal
            font-weight: 700
            font-size: 24px
            line-height: 28px
            text-align: center
            color: $color
            white-space: nowrap
            &:hover
                color: #FFFFFF

.Fetured
    text-align: center
    font-family: $font-family
    font-size: 30px
    line-height: 36px
    color: #222222
    margin-bottom: 6px

.content_txt
    text-align: center
    font-family: $font-family
    font-size: 14px
    line-height: 17px
    color: #9F9F9F
    margin-bottom: 48px

.content-2
    display: grid
    grid-template-columns: repeat(3, 31%)
    grid-template-rows: repeat(2, 50%)
    row-gap: 2%
    column-gap: 2%
    justify-content: center
    align-items: center
    justify-items: center
    margin-bottom: 72px

    & item
        background-color: #F8F8F8
        position: relative

        &:hover
            box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16)

        &:hover img
            filter: brightness(30%)

        &:hover .add-box
            display: flex

        & a
            text-decoration: none
        & img
            max-width: 100%

        & .text-box
            padding-top: 12px
            padding-left: 18px

            & h6
                font-family: $font-family
                font-style: normal
                font-weight: 400
                font-size: 13px
                line-height: 16px
                color: #000000
                padding: 12px 0

            & .description
                font-family: $font-family
                font-style: normal
                font-weight: 300
                font-size: 14px
                line-height: 17px
                color: #5D5D5D

            & .price
                font-family: $font-family
                color: $color
                font-style: normal
                font-weight: 400
                font-size: 16px
                line-height: 19px
                padding: 18px 0
        & .add-box
            position: absolute
            margin-top: -110%
            margin-left: 30%
            border: 1px solid #ffffff
            display: none
            &:hover
                box-shadow: 0 0 10px #fff

            &:hover p
                color: $color

            & p
                font-family: $font-family
                font-style: normal
                font-weight: 400
                font-size: 14px
                line-height: 17px
                color: #FFFFFF
                padding: 10px 13px

.all-product
    width: 211px
    height: 47px
    border: 1px solid $color
    margin-left: 40%
    margin-bottom: 95px

.browse
    font-family: $font-family
    font-size: 16px
    line-height: 19px
    color: $color
    text-align: center
    margin-top: 14px

.link-all-product
    display: block
    text-decoration: none

    &:hover .all-product
        background-color: $color

    &:hover .browse
        color: #FFFFFF

.footer_top
    height: 341px
    background: #222224

.footer_main
    height: 448px
    background-image: url(images/bcg-footer.jpg)
    background-repeat: no-repeat
    background-size: 100% 100%

.footer_bottom
    height: 79px
    background: #222224

.top-footer
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-pack: justify
    -ms-flex-pack: justify
    justify-content: space-between
    text-align: center

.footer-icon-block
    margin-top: 104px
    width: 360px

.footer-head-txt
    margin-top: 28px
    margin-bottom: 16px
    font-family: $font-family
    font-size: 19.96px
    line-height: 24px
    color: #FBFBFB

.footer-txt
    font-family: $font-family
    font-style: normal
    font-size: 13.972px
    line-height: 17px
    color: #FBFBFB
    opacity: 40%

.icon-footer
    color: $color

.main-footer
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -ms-flex-pack: distribute
    justify-content: space-around
    height: 100%

.footer-banner
    text-align: center

.face
    margin-top: 97px

.footer-banner-txt
    font-family: $font-family
    font-size: 17px
    line-height: 24px
    text-align: center
    color: #222224
    margin-top: 30px

.subscribe
    margin-top: 150px
    text-align: center

    &-txt
        font-family: $font-family
        font-style: normal
        font-weight: 400
        font-size: 17px
        line-height: 167.2%
        text-align: center
        color: #222224

.feedback
    margin-top: 32px
    & form
        position: relative
        width: 356px
        margin: 0 auto
        display: -webkit-box
        display: -ms-flexbox
        display: flex

.input-email
    font-family: $font-family
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 17px
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    color: #222224
    opacity: 0.67
    padding-left: 22px
    width: 256px
    height: 49px
    background: #E1E1E1
    border: none
    border-radius: 45px 0 0 45px

.btn-subscribe
    font-family: $font-family
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 17px
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    text-align: center
    color: #FFFFFF
    -webkit-box-pack: center
    -ms-flex-pack: center
    justify-content: center
    width: 100px
    height: 49px
    background-color: $color
    border: none
    border-radius: 0 45px 45px 0

    &:hover
        border: 2px solid $color
        background-color: #F8F8F8
        color: $color

.bottom-footer
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    -webkit-box-pack: justify
    -ms-flex-pack: justify
    justify-content: space-between

.copyright
    font-family: $font-family
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 19px
    color: #FBFBFB
    opacity: 40%
    margin-top: 30px

.social
    margin-top: 30px
    display: -webkit-box
    display: -ms-flexbox
    display: flex

    &-icon
        color: #FFF
        margin-right: 8px
.social-icon:hover
    color: $color

.catalog-main
    height: 100%

.content-catalog
    display: grid
    grid-template-columns: repeat(3, 31%)
    grid-template-rows: repeat(3, 34%)
    row-gap: 2%
    column-gap: 2%
    justify-content: center
    align-items: center
    justify-items: center
    margin-bottom: 152px

    & item
        background-color: #F8F8F8
        position: relative

        &:hover
            box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16)

        &:hover img
            filter: brightness(30%)

        &:hover .add-box
            display: flex

        & a
            text-decoration: none
        & img
            max-width: 100%

        & .text-box
            padding-top: 12px
            padding-left: 18px

            & h6
                font-family: $font-family
                font-style: normal
                font-weight: 400
                font-size: 13px
                line-height: 16px
                color: #000000
                padding: 12px 0

            & .description
                font-family: $font-family
                font-style: normal
                font-weight: 300
                font-size: 14px
                line-height: 17px
                color: #5D5D5D

            & .price
                font-family: $font-family
                color: $color
                font-style: normal
                font-weight: 400
                font-size: 16px
                line-height: 19px
                padding: 18px 0
        & .add-box
            position: absolute
            margin-top: -110%
            margin-left: 30%
            border: 1px solid #ffffff
            display: none
            &:hover
                box-shadow: 0 0 10px #fff

            &:hover p
                color: $color

            & p
                font-family: $font-family
                font-style: normal
                font-weight: 400
                font-size: 14px
                line-height: 17px
                color: #FFFFFF
                padding: 10px 13px

.arrivals-banner
    background: #F8F3F4

.new-arrivals
    height: 148px
    display: flex
    align-items: center
    justify-content: space-between
    & h3
        font-family: $font-family
        font-style: normal
        font-weight: 400
        font-size: 24px
        line-height: 29px
        color: $color
    & a
        text-decoration: none
        font-family: $font-family
        font-style: normal
        font-weight: 300
        font-size: 14px
        line-height: 17px
        color: #636363

.main-navigation
    margin-top: 51px
    margin-bottom: 42px
    display: flex

    & .filter a
        text-decoration: none
        font-family: $font-family
        font-style: normal
        font-weight: 600
        font-size: 14px
        line-height: 17px
        color: #000000

    & .filter i
        margin-left: 11px

    & .sub-filter-menu
        width: 360px

.filter
    height: 531px
    width: 360px
    background: #FFFFFF
    position: relative

.main-filter
    position: absolute

.block-accordion
    margin-top: 26px
    position: absolute

label
    cursor: pointer

ul
    list-style: none

.list
    display: none

.filter-menu
    margin-right: 312px

.checkbox
    display: none

    &:checked~.list
        display: block
        position: absolute
        z-index: 1
        background: #FFFFFF

    &:checked~.checkbox1
        color: $color

    &1 i
        margin-bottom: 24px
        margin-left: 11px
.checkbox1:hover
    color: $color

.sub-filter-menu .block-item
    width: 345px
    height: 50px
    overflow: hidden

.sub-filter-menu h3
    display: block
    text-decoration: none
    font-family: $font-family
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 17px
    color: $color
    border-left: 5px solid $color
    padding: 11px
    -ms-flex-line-pack: center
    align-content: center
    border-bottom: 1px solid #ebebeb

.sub-filter-menu li
    padding: 7px
    list-style-type: none
    margin-left: 14px

.sub-filter-menu a
    text-decoration: none
    font-family: $font-family
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 17px
    color: #6F6E6E

.sub-filter-menu div:hover
    height: 100%

.details-list
    display: flex
    position: relative

    & details
        margin-right: 124px

    & summary
        font-family: $font-family
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 17px
        color: #6F6E6E

.SIZE
    display: flex
    position: relative
    position: absolute
    z-index: 1
    background: #FFFFFF
    margin-left: 169px
    width: 80px

.all-size
    margin-left: 10px

.details-list label
    padding: 6px 0
    font-family: $font-family
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 16px
    color: #6F6E6E

.pg-list
    width: 284px
    height: 44px
    border: 1px solid rgba(235, 235, 235, 1)
    margin: auto
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 96px

    & a
        font-family: $font-family
        font-style: normal
        font-weight: 300
        font-size: 16px
        line-height: 19px
        text-decoration: none
        color: #6F6E6E
        padding: 5px 10px
        align-items: center

a:hover
    color: $color

.item-carousel
    height: 777px
    background-color: #F7F7F7
    display: flex
    align-items: center
    text-align: center
    & i
        padding: 13px 17px
        background-color: rgba(42, 42, 42, 0.15)
        color: #000000
    & i:hover
        color: $color
        box-shadow: 0 0 10px #FFF

.item-info
    margin-bottom: 129px
    height: 641px
    width: 1140px
    text-align: center
    border: 1px solid #EAEAEA
    z-index: 1
    position: absolute
    background: #fff
    margin-top: -62px

    & h5
        font-family: $font-family
        color: $color
        font-style: normal
        font-weight: 300
        font-size: 14px
        line-height: 17px
        padding: 12px
        margin-top: 52px

    & .border
        height: 4px
        width: 64px
        background-color: $color
        margin: 0 540px

    & h3
        font-family: $font-family
        font-style: normal
        font-weight: 300
        font-size: 18px
        line-height: 22px
        color: #4D4D4D
        padding: 12px

    & p
        font-family: $font-family
        font-style: normal
        font-weight: 300
        font-size: 14px
        line-height: 17px
        text-align: center
        color: #5E5E5E
        padding: 32px
        margin-top: 16px

    & h2
        font-family: $font-family
        font-style: normal
        font-weight: 300
        font-size: 24px
        line-height: 29px
        color: $color
        margin-bottom: 65px

    & .border-2
        width: 640px
        border: 1px solid #EAEAEA
        margin: 0 250px
        margin-bottom: 65px

    & a
        text-decoration: none

.content-product
    display: grid
    grid-template-columns: repeat(3, 31%)
    grid-template-rows: repeat(2, 34%)
    row-gap: 2%
    column-gap: 2%
    justify-content: center
    align-items: center
    justify-items: center

    & item
        background-color: #F8F8F8
        position: relative
        margin-top: 285px

        &:hover
            box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16)

        &:hover img
            filter: brightness(30%)

        &:hover .add-box
            display: flex

        & a
            text-decoration: none
        & img
            max-width: 100%

        & .text-box
            padding-top: 12px
            padding-left: 18px

            & h6
                font-family: $font-family
                font-style: normal
                font-weight: 400
                font-size: 13px
                line-height: 16px
                color: #000000
                padding: 12px 0

            & .description
                font-family: $font-family
                font-style: normal
                font-weight: 300
                font-size: 14px
                line-height: 17px
                color: #5D5D5D

            & .price
                font-family: $font-family
                color: $color
                font-style: normal
                font-weight: 400
                font-size: 16px
                line-height: 19px
                padding: 18px 0
        & .add-box
            position: absolute
            margin-top: -110%
            margin-left: 30%
            border: 1px solid #ffffff
            display: none
            &:hover
                box-shadow: 0 0 10px #fff

            &:hover p
                color: $color

            & p
                font-family: $font-family
                font-style: normal
                font-weight: 400
                font-size: 14px
                line-height: 17px
                color: #FFFFFF
                padding: 10px 13px

.details-info
    display: flex
    justify-content: space-around
    width: 644px
    margin: 0 auto
    text-align: left

    & summary
        padding: 0 22px
        font-family: $font-family
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 17px
        color: #6F6E6E

    & details
        display: flex

    & label
        padding: 2%
        font-family: $font-family
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 17px
        color: #6F6E6E
    & form
        text-align: center

.all-color
    margin-left: 10%

.all-size
    margin-left: 12%

.add-product
    width: 211px
    height: 48px
    border: 1px solid $color
    align-items: center
    margin: 48px 465px
    pointer-events: none

    & p
        color: $color
        text-decoration: none
        padding: 10px 24px
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 19px
        margin-top: 0

    & i
        padding: 14px
    & a
        pointer-events: auto

.link-add-product:hover p
    color: #ffffff
    background-color: $color

.item-product
    margin-top: 666px
    margin-bottom: -152px

.shopping_cart
    font-family: $font-family
    font-style: normal
    font-weight: 400
    font-size: 24px
    line-height: 29px
    color: $color

.cart-form
    display: flex
    justify-content: space-between
.item-block-1
    height: 306px
    width: 652px
    background: #FFFFFF
    display: flex
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2)
    margin-top: 96px
    margin-bottom: 40px
    & img
        height: 100%
    & h3
        padding: 22px 0 36px 32px
        font-family: $font-family
        font-style: normal
        font-weight: 400
        font-size: 24px
        line-height: 29px
        color: #222222
    & p
        padding: 6px 0 6px 32px
        font-family: $font-family
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 26px
        color: #575757
    & input
        height: 24px
        width: 43px
        text-align: center
        font-size: 18px
        border: 1px solid #EAEAEA
        font-family: $font-family
    & button
        height: 18px
        width: 18px
        border: none
        margin: 28px 0 0 612px
        position: absolute
        z-index: 1
        color: #222222
        background: #FFFFFF
.close:hover
    color: $color

.item-block-2
    height: 306px
    width: 652px
    background: #FFFFFF
    display: flex
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2)
    margin-bottom: 72px
    & img
        height: 100%
    & h3
        padding: 22px 0 36px 32px
        font-family: $font-family
        font-style: normal
        font-weight: 400
        font-size: 24px
        line-height: 29px
        color: #222222
    & p
        padding: 6px 0 6px 32px
        font-family: $font-family
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 26px
        color: #575757
    & input
        height: 24px
        width: 43px
        text-align: center
        font-size: 18px
        border: 1px solid #EAEAEA
        font-family: $font-family
    & button
        height: 18px
        width: 18px
        border: none
        margin: 28px 0 0 612px
        position: absolute
        z-index: 1
        color: #222222
        background: #FFFFFF
.close:hover
    color: $color
.btn-box
    display: flex
    justify-content: space-between

    & button
        padding: 16px 40px
        margin-bottom: 128px
        border: 1px solid rgba(164, 164, 164, 1)
        background-color: #FFFFFF
        font-family: $font-family
        font-style: normal
        font-weight: 300
        font-size: 14px
        line-height: 17px
        color: #000000
    & button:hover
        background-color: $color
        color: #FFFFFF

.cart-shiping
    width: 50%
    margin-left: 129px

    & h5
        font-family: $font-family
        font-style: normal
        font-weight: 300
        font-size: 16px
        line-height: 19px
        color: #222222
        margin-top: 55px

    & input
        width: 360px
        height: 45px
        border: 1px solid #A4A4A4
        background: #FFFFFF
        outline: 0
        padding: 0 0 0 17px
        margin: 20px 0
        font-family: $font-family
        font-style: normal
        font-weight: 300
        font-size: 13px
        line-height: 16px
        color: #222222

    & .quote
        padding: 10px 15px
        border: 1px solid #A4A4A4
        background: #FFFFFF
        font-family: $font-family
        font-style: normal
        font-weight: 300
        font-size: 11px
        line-height: 13px
        color: #4A4A4A
        width: 30%

    & .quote:hover
        background-color: $color
        color: #FFFFFF

.grand-total
    width: 360px
    height: 214px
    background: #F5F3F3
    margin-top: 57px
    text-align: right
    padding: 0 34px

    & p
        padding-top: 39px
        font-family: $font-family
        font-style: normal
        font-weight: 400
        font-size: 11px
        line-height: 13px
        color: #4A4A4A

    & h4
        font-family: $font-family
        font-style: normal
        font-weight: 300
        font-size: 16px
        line-height: 19px
        color: #222222
        padding: 12px 0 21px 0
    .proceed
        text-align: center

    & button
        background-color: $color
        font-family: $font-family
        font-style: normal
        font-weight: 300
        font-size: 16px
        line-height: 19px
        color: #FFFFFF
        padding: 15px 42px
        margin-top: 32px
        border: none
    & button:hover
        border: 1px solid $color
        background-color: #FFFFFF
        color: $color

.reg-banner
    background: #F8F3F4

.REGISTRATION
    height: 148px
    display: flex
    align-items: center

    & h3
        font-family: $font-family
        font-style: normal
        font-weight: 400
        font-size: 24px
        line-height: 29px
        color: $color

.reg-info
    display: flex

.registration-input
    width: 40%
    margin-top: 5%
    margin-bottom: 10%

    & input
        width: 360px
        height: 45px
        margin: 10px 0
        font-style: normal
        font-weight: 300
        font-size: 13px
        line-height: 16px
        color: #B1B1B1
        padding-left: 17px
        box-shadow: none
        outline: 0

    & .gender-select
        display: flex
        align-items: center
        margin: 20px 0
        font-family: $font-family
        font-style: normal
        font-weight: 300
        font-size: 11px
        line-height: 13px
        color: #000000

        & input
            width: 17px
            height: 17px

    & h5
        margin-bottom: 10px
        font-family: $font-family
        font-style: normal
        font-weight: 300
        font-size: 16px
        line-height: 19px
        color: #222222
    & p
        margin-top: 5px
        margin-bottom: 20px
        font-family: $font-family
        font-style: normal
        font-weight: 300
        font-size: 13px
        line-height: 16px
        color: #B1B1B1
    & button
        width: 40%
        height: 50px
        background-color: $color
        font-family: $font-family
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 17px
        color: #FFFFFF
        border: none
        padding: 0 30px
        & i
    & button:hover
        background-color: #ffffff
        border: 1px solid $color
        color: $color

.registation-info
    width: 60%
    margin-top: 5%
    margin-bottom: 10%
    & h4
        margin-bottom: 22px
        font-family: $font-family
        font-style: normal
        font-weight: 300
        font-size: 24px
        line-height: 29px
        color: #000000
    & p
        margin-bottom: 21px
        font-family: $font-family
        font-style: normal
        font-weight: 300
        font-size: 24px
        line-height: 29px
        color: #000000
ol
    list-style: none
    & > li
        padding-left: 42px
        position: relative
        margin: 16px
        font-family: $font-family
        font-style: normal
        font-weight: 300
        font-size: 24px
        line-height: 29px
        color: #000000
        &:before
            content: "✔"
            position: absolute
            top: 0
            left: 0

@media (max-width: 768px)
    .main-header
        height: 442px
        & .sub-menu
            margin-left: 0
            z-index: 1
        & .banner
            height: 368px
            & .label_image
                height: 368px
                margin-left: 0
                & img
                    height: 368px
            & .label_txt
                margin-top: 138px
                margin-left: -47%
                & h1
                    font-weight: 900
                    font-size: 44px
                    line-height: 53px
                    white-space: nowrap
                & p
                    font-weight: 700
                    font-size: 24px
                    line-height: 28px
                    white-space: nowrap
    .catalog
        margin-top: -31px
        & .content
            & item
                & a
                    & .item-text
                        margin: -101px 50px
                        & .item-text-1
                            font-weight: 400
                            font-size: 16px
                            line-height: 19px
                        & .item-text-2
                            font-weight: 700
                            font-size: 24px
                            line-height: 28px
                    & .item-text2
                        margin: -85px 303px
                        & .item-text-3
                            font-weight: 400
                            font-size: 16px
                            line-height: 19px
                        & .item-text-4
                            font-weight: 700
                            font-size: 24px
                            line-height: 28px
    .Fetured
        margin-top: 51px
    .content-2
        grid-template-columns: repeat(2, 47%)
        grid-template-rows: repeat(3, 32%)
        & item
            & .add-box
                margin-top: -120%

    .all-product
        margin-left: 36%
        margin-bottom: 65px
    .footer_top
        height: 610px
        & .top-footer
            display: inline-block
            flex-wrap: wrap
            & .footer-icon-block
                margin-top: 50px
                margin-left: 204px
    .footer_main
        height: 693px
        background-size: 130% 60%
        background-position: bottom
        background-color: rgba(244, 244, 244, 1.7)
        & .main-footer
            display: inline-block
            margin-left: 218px
            & .subscribe
                margin-top: 120px
    .bottom-footer
        padding: 0 2%

@media (max-width: 375px)
    .main-header
        height: 437px
        & .navileft
            & .line_search
                & input
                    display: none
        & .naviright
            margin-right: -39%
            & .btn-profile
                display: none
            & .btn-basket
                display: none
            & .menu-catalog
                & .sub-menu
                    margin-left: -52%
                    z-index: 1
        & .banner
            height: 363px
            & .label_image
                height: 0
                margin-left: 0
                display: none
                & img
                    height: 363px
            & .label_txt
                margin-top: 148px
                margin-left: 15%
                & h1
                    font-weight: 900
                    font-size: 38px
                    line-height: 46px
                    white-space: nowrap
                & p
                    font-weight: 700
                    font-size: 20px
                    line-height: 24px
                    white-space: nowrap
    .catalog
        margin-top: 23px
        &     .content
            grid-template-columns: repeat(1, 100%)
            grid-template-rows: repeat(4, 27%)
            row-gap: 8%
            margin-bottom: 210px
            & .accessories
                grid-column: 1/1
                & .img-accessories
                    width: 189%
                    margin-left: -162px
                    margin-top: -100%
            & item
                & img
                    max-width: 189%
                & a
                    & .item-text
                        margin: -150px 120px
                        & .item-text-1
                            font-weight: 400
                            font-size: 16px
                            line-height: 19px
                        & .item-text-2
                            font-weight: 700
                            font-size: 24px
                            line-height: 28px
                    & .item-text2
                        margin: -85px 122px
                        & .item-text-3
                            font-weight: 400
                            font-size: 16px
                            line-height: 19px
                        & .item-text-4
                            font-weight: 700
                            font-size: 24px
                            line-height: 28px
    .Fetured
        margin-top: 51px
    .content-2
        grid-template-columns: repeat(1, 100%)
        grid-template-rows: repeat(6, 15%)
        & item
            & .add-box
                margin-top: -110%

    .all-product
        margin-top: -3px
        margin-left: 23%
        margin-bottom: 96px
    .footer_top
        height: 610px
        & .top-footer
            display: inline-block
            flex-wrap: wrap
            & .footer-icon-block
                margin-top: 50px
                margin-left: 4%
    .footer_main
        height: 550px
        background-size: 165% 75%
        background-position: bottom
        background-color: rgba(244, 244, 244, 1.7)
        & .main-footer
            display: inline-block
            margin-left: 3%
            margin-top: -60px
            & .subscribe
                margin-top: 51px
    .footer_bottom
        height: 143px
        & .bottom-footer
            flex-wrap: wrap-reverse
            & .copyright
                margin-left: 62px
            & .social
                margin-top: 65px
                margin-left: 114px
