@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

main {
  margin: 1 1 auto;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.main-header {
  height: 839px;
  margin-bottom: 65px;
}

.navigation {
  height: 75px;
  background: #222222;
  padding: 0 2%;
}

.panel_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.panel {
  padding-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.navileft {
  width: 111px;
  height: 38px;
  position: relative;
}

.naviright {
  width: 168px;
  height: 37px;
}

.line_search {
  position: absolute;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 121px;
  margin-bottom: 5px;
  opacity: 0;
}

.line_search input {
  outline: none;
}

.navileft:hover .line_search {
  opacity: 1;
}

.searchinput {
  height: 15px;
  font-size: 14px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #F1E4E6;
  border-radius: 45px;
}

.main-item:focus~.sub-menu,
.main-item:active~.sub-menu,
.sub-menu:hover {
  display: block;
}

.main-item {
  position: relative;
}

.sub-menu {
  display: none;
  position: absolute;
  margin-top: 20px;
  height: 764px;
  width: 232px;
  background-color: #FFFFFF;
  margin-left: 168px;
}

.sub-menu li {
  list-style: none;
  margin-left: 55px;
  margin-bottom: 15px;
}

.menu_H3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-top: 37px;
  margin-left: 34px;
  margin-bottom: 24px;
}

.menu_h4 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-top: 20px;
  margin-bottom: 12px;
  margin-left: 33px;
}

.menu_link {
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.menu_link:hover {
  color: #F16D7F;
}

.banner {
  height: 764px;
  background: #F1E4E6;
  margin-bottom: 65px;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.label_image {
  height: 764px;
  width: 800px;
  margin-left: -225px;
  max-width: 100%;
}

.label_txt {
  font-family: "Lato";
  margin-top: 290px;
  margin-left: -80px;
  border-left: 12px solid #F16D7F;
  height: 100%;
  max-width: 100%;
}

.label .banner_H1 {
  font-size: 48px;
  line-height: 58px;
  margin-left: 16px;
}

.text-focus-in {
  -webkit-animation: text-focus-in 3s cubic-bezier(0.645, 0.045, 0.355, 1) 2s infinite both;
  animation: text-focus-in 3s cubic-bezier(0.645, 0.045, 0.355, 1) 2s infinite both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.banner_txt {
  font-size: 32px;
  margin-left: 16px;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (31%)[3];
  grid-template-columns: repeat(3, 31%);
  -ms-grid-rows: (50%)[2];
  grid-template-rows: repeat(2, 50%);
  row-gap: 6%;
  -webkit-column-gap: 3%;
  column-gap: 3%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  margin-bottom: 96px;
}

.content .accessories {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.content .accessories .item-text2 {
  position: absolute;
  margin: -113px 491px;
}

.content .accessories .item-text-3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  white-space: nowrap;
}

.content .accessories .item-text-4 {
  font-family: "Lato";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #F16D7F;
  white-space: nowrap;
}

.content .accessories .item-text-4:hover {
  color: #FFFFFF;
}

.content item {
  position: relative;
}

.content item img {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
  max-width: 100%;
}

.content item .item-text {
  position: absolute;
  margin: -160px 103px;
}

.content item .item-text-1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  white-space: nowrap;
}

.content item .item-text-2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #F16D7F;
  white-space: nowrap;
}

.content item .item-text-2:hover {
  color: #FFFFFF;
}

.Fetured {
  text-align: center;
  font-family: "Lato";
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.content_txt {
  text-align: center;
  font-family: "Lato";
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 48px;
}

.content-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (31%)[3];
  grid-template-columns: repeat(3, 31%);
  -ms-grid-rows: (50%)[2];
  grid-template-rows: repeat(2, 50%);
  row-gap: 2%;
  -webkit-column-gap: 2%;
  column-gap: 2%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  margin-bottom: 72px;
}

.content-2 item {
  background-color: #F8F8F8;
  position: relative;
}

.content-2 item:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.content-2 item:hover img {
  -webkit-filter: brightness(30%);
  filter: brightness(30%);
}

.content-2 item:hover .add-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-2 item a {
  text-decoration: none;
}

.content-2 item img {
  max-width: 100%;
}

.content-2 item .text-box {
  padding-top: 12px;
  padding-left: 18px;
}

.content-2 item .text-box h6 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding: 12px 0;
}

.content-2 item .text-box .description {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.content-2 item .text-box .price {
  font-family: "Lato";
  color: #F16D7F;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 18px 0;
}

.content-2 item .add-box {
  position: absolute;
  margin-top: -110%;
  margin-left: 30%;
  border: 1px solid #ffffff;
  display: none;
}

.content-2 item .add-box:hover {
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
}

.content-2 item .add-box:hover p {
  color: #F16D7F;
}

.content-2 item .add-box p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 10px 13px;
}

.all-product {
  width: 211px;
  height: 47px;
  border: 1px solid #F16D7F;
  margin-left: 40%;
  margin-bottom: 95px;
}

.browse {
  font-family: "Lato";
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  text-align: center;
  margin-top: 14px;
}

.link-all-product {
  display: block;
  text-decoration: none;
}

.link-all-product:hover .all-product {
  background-color: #F16D7F;
}

.link-all-product:hover .browse {
  color: #FFFFFF;
}

.footer_top {
  height: 341px;
  background: #222224;
}

.footer_main {
  height: 448px;
  background-image: url(images/bcg-footer.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.footer_bottom {
  height: 79px;
  background: #222224;
}

.top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
}

.footer-icon-block {
  margin-top: 104px;
  width: 360px;
}

.footer-head-txt {
  margin-top: 28px;
  margin-bottom: 16px;
  font-family: "Lato";
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.footer-txt {
  font-family: "Lato";
  font-style: normal;
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB;
  opacity: 40%;
}

.icon-footer {
  color: #F16D7F;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 100%;
}

.footer-banner {
  text-align: center;
}

.face {
  margin-top: 97px;
}

.footer-banner-txt {
  font-family: "Lato";
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  margin-top: 30px;
}

.subscribe {
  margin-top: 150px;
  text-align: center;
}

.subscribe-txt {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.feedback {
  margin-top: 32px;
}

.feedback form {
  position: relative;
  width: 356px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-email {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #222224;
  opacity: 0.67;
  padding-left: 22px;
  width: 256px;
  height: 49px;
  background: #E1E1E1;
  border: none;
  border-radius: 45px 0 0 45px;
}

.btn-subscribe {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100px;
  height: 49px;
  background-color: #F16D7F;
  border: none;
  border-radius: 0 45px 45px 0;
}

.btn-subscribe:hover {
  border: 2px solid #F16D7F;
  background-color: #F8F8F8;
  color: #F16D7F;
}

.bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.copyright {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  opacity: 40%;
  margin-top: 30px;
}

.social {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icon {
  color: #FFF;
  margin-right: 8px;
}

.social-icon:hover {
  color: #F16D7F;
}

.catalog-main {
  height: 100%;
}

.content-catalog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (31%)[3];
  grid-template-columns: repeat(3, 31%);
  -ms-grid-rows: (34%)[3];
  grid-template-rows: repeat(3, 34%);
  row-gap: 2%;
  -webkit-column-gap: 2%;
  column-gap: 2%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  margin-bottom: 152px;
}

.content-catalog item {
  background-color: #F8F8F8;
  position: relative;
}

.content-catalog item:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.content-catalog item:hover img {
  -webkit-filter: brightness(30%);
  filter: brightness(30%);
}

.content-catalog item:hover .add-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-catalog item a {
  text-decoration: none;
}

.content-catalog item img {
  max-width: 100%;
}

.content-catalog item .text-box {
  padding-top: 12px;
  padding-left: 18px;
}

.content-catalog item .text-box h6 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding: 12px 0;
}

.content-catalog item .text-box .description {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.content-catalog item .text-box .price {
  font-family: "Lato";
  color: #F16D7F;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 18px 0;
}

.content-catalog item .add-box {
  position: absolute;
  margin-top: -110%;
  margin-left: 30%;
  border: 1px solid #ffffff;
  display: none;
}

.content-catalog item .add-box:hover {
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
}

.content-catalog item .add-box:hover p {
  color: #F16D7F;
}

.content-catalog item .add-box p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 10px 13px;
}

.arrivals-banner {
  background: #F8F3F4;
}

.new-arrivals {
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.new-arrivals h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.new-arrivals a {
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.main-navigation {
  margin-top: 51px;
  margin-bottom: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-navigation .filter a {
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.main-navigation .filter i {
  margin-left: 11px;
}

.main-navigation .sub-filter-menu {
  width: 360px;
}

.filter {
  height: 531px;
  width: 360px;
  background: #FFFFFF;
  position: relative;
}

.main-filter {
  position: absolute;
}

.block-accordion {
  margin-top: 26px;
  position: absolute;
}

label {
  cursor: pointer;
}

ul {
  list-style: none;
}

.list {
  display: none;
}

.filter-menu {
  margin-right: 312px;
}

.checkbox {
  display: none;
}

.checkbox:checked~.list {
  display: block;
  position: absolute;
  z-index: 1;
  background: #FFFFFF;
}

.checkbox:checked~.checkbox1 {
  color: #F16D7F;
}

.checkbox1 i {
  margin-bottom: 24px;
  margin-left: 11px;
}

.checkbox1:hover {
  color: #F16D7F;
}

.sub-filter-menu .block-item {
  width: 345px;
  height: 50px;
  overflow: hidden;
}

.sub-filter-menu h3 {
  display: block;
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  border-left: 5px solid #F16D7F;
  padding: 11px;
  -ms-flex-line-pack: center;
  align-content: center;
  border-bottom: 1px solid #ebebeb;
}

.sub-filter-menu li {
  padding: 7px;
  list-style-type: none;
  margin-left: 14px;
}

.sub-filter-menu a {
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.sub-filter-menu div:hover {
  height: 100%;
}

.details-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.details-list details {
  margin-right: 124px;
}

.details-list summary {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.SIZE {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  position: absolute;
  z-index: 1;
  background: #FFFFFF;
  margin-left: 169px;
  width: 80px;
}

.all-size {
  margin-left: 10px;
}

.details-list label {
  padding: 6px 0;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.pg-list {
  width: 284px;
  height: 44px;
  border: 1px solid #ebebeb;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 96px;
}

.pg-list a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #6F6E6E;
  padding: 5px 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

a:hover {
  color: #F16D7F;
}

.item-carousel {
  height: 777px;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.item-carousel i {
  padding: 13px 17px;
  background-color: rgba(42, 42, 42, 0.15);
  color: #000000;
}

.item-carousel i:hover {
  color: #F16D7F;
  -webkit-box-shadow: 0 0 10px #FFF;
  box-shadow: 0 0 10px #FFF;
}

.item-info {
  margin-bottom: 129px;
  height: 641px;
  width: 1140px;
  text-align: center;
  border: 1px solid #EAEAEA;
  z-index: 1;
  position: absolute;
  background: #fff;
  margin-top: -62px;
}

.item-info h5 {
  font-family: "Lato";
  color: #F16D7F;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding: 12px;
  margin-top: 52px;
}

.item-info .border {
  height: 4px;
  width: 64px;
  background-color: #F16D7F;
  margin: 0 540px;
}

.item-info h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  padding: 12px;
}

.item-info p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  padding: 32px;
  margin-top: 16px;
}

.item-info h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  margin-bottom: 65px;
}

.item-info .border-2 {
  width: 640px;
  border: 1px solid #EAEAEA;
  margin: 0 250px;
  margin-bottom: 65px;
}

.item-info a {
  text-decoration: none;
}

.content-product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (31%)[3];
  grid-template-columns: repeat(3, 31%);
  -ms-grid-rows: (34%)[2];
  grid-template-rows: repeat(2, 34%);
  row-gap: 2%;
  -webkit-column-gap: 2%;
  column-gap: 2%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
}

.content-product item {
  background-color: #F8F8F8;
  position: relative;
  margin-top: 285px;
}

.content-product item:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.content-product item:hover img {
  -webkit-filter: brightness(30%);
  filter: brightness(30%);
}

.content-product item:hover .add-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-product item a {
  text-decoration: none;
}

.content-product item img {
  max-width: 100%;
}

.content-product item .text-box {
  padding-top: 12px;
  padding-left: 18px;
}

.content-product item .text-box h6 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding: 12px 0;
}

.content-product item .text-box .description {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.content-product item .text-box .price {
  font-family: "Lato";
  color: #F16D7F;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 18px 0;
}

.content-product item .add-box {
  position: absolute;
  margin-top: -110%;
  margin-left: 30%;
  border: 1px solid #ffffff;
  display: none;
}

.content-product item .add-box:hover {
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
}

.content-product item .add-box:hover p {
  color: #F16D7F;
}

.content-product item .add-box p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 10px 13px;
}

.details-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 644px;
  margin: 0 auto;
  text-align: left;
}

.details-info summary {
  padding: 0 22px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.details-info details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.details-info label {
  padding: 2%;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.details-info form {
  text-align: center;
}

.all-color {
  margin-left: 10%;
}

.all-size {
  margin-left: 12%;
}

.add-product {
  width: 211px;
  height: 48px;
  border: 1px solid #F16D7F;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 48px 465px;
  pointer-events: none;
}

.add-product p {
  color: #F16D7F;
  text-decoration: none;
  padding: 10px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 0;
}

.add-product i {
  padding: 14px;
}

.add-product a {
  pointer-events: auto;
}

.link-add-product:hover p {
  color: #ffffff;
  background-color: #F16D7F;
}

.item-product {
  margin-top: 666px;
  margin-bottom: -152px;
}

.shopping_cart {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.cart-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item-block-1 {
  height: 306px;
  width: 652px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
  margin-top: 96px;
  margin-bottom: 40px;
}

.item-block-1 img {
  height: 100%;
}

.item-block-1 h3 {
  padding: 22px 0 36px 32px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.item-block-1 p {
  padding: 6px 0 6px 32px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.item-block-1 input {
  height: 24px;
  width: 43px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #EAEAEA;
  font-family: "Lato";
}

.item-block-1 button {
  height: 18px;
  width: 18px;
  border: none;
  margin: 28px 0 0 612px;
  position: absolute;
  z-index: 1;
  color: #222222;
  background: #FFFFFF;
}

.close:hover {
  color: #F16D7F;
}

.item-block-2 {
  height: 306px;
  width: 652px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
  margin-bottom: 72px;
}

.item-block-2 img {
  height: 100%;
}

.item-block-2 h3 {
  padding: 22px 0 36px 32px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.item-block-2 p {
  padding: 6px 0 6px 32px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.item-block-2 input {
  height: 24px;
  width: 43px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #EAEAEA;
  font-family: "Lato";
}

.item-block-2 button {
  height: 18px;
  width: 18px;
  border: none;
  margin: 28px 0 0 612px;
  position: absolute;
  z-index: 1;
  color: #222222;
  background: #FFFFFF;
}

.close:hover {
  color: #F16D7F;
}

.btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.btn-box button {
  padding: 16px 40px;
  margin-bottom: 128px;
  border: 1px solid #a4a4a4;
  background-color: #FFFFFF;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.btn-box button:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.cart-shiping {
  width: 50%;
  margin-left: 129px;
}

.cart-shiping h5 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-top: 55px;
}

.cart-shiping input {
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
  background: #FFFFFF;
  outline: 0;
  padding: 0 0 0 17px;
  margin: 20px 0;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}

.cart-shiping .quote {
  padding: 10px 15px;
  border: 1px solid #A4A4A4;
  background: #FFFFFF;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  width: 30%;
}

.cart-shiping .quote:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.grand-total {
  width: 360px;
  height: 214px;
  background: #F5F3F3;
  margin-top: 57px;
  text-align: right;
  padding: 0 34px;
}

.grand-total p {
  padding-top: 39px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.grand-total h4 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding: 12px 0 21px 0;
}

.grand-total .proceed {
  text-align: center;
}

.grand-total button {
  background-color: #F16D7F;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 15px 42px;
  margin-top: 32px;
  border: none;
}

.grand-total button:hover {
  border: 1px solid #F16D7F;
  background-color: #FFFFFF;
  color: #F16D7F;
}

.reg-banner {
  background: #F8F3F4;
}

.REGISTRATION {
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.REGISTRATION h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.reg-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration-input {
  width: 40%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.registration-input input {
  width: 360px;
  height: 45px;
  margin: 10px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding-left: 17px;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

.registration-input .gender-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px 0;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.registration-input .gender-select input {
  width: 17px;
  height: 17px;
}

.registration-input h5 {
  margin-bottom: 10px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration-input p {
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration-input button {
  width: 40%;
  height: 50px;
  background-color: #F16D7F;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
  padding: 0 30px;
}

.registration-input button:hover {
  background-color: #ffffff;
  border: 1px solid #F16D7F;
  color: #F16D7F;
}

.registation-info {
  width: 60%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.registation-info h4 {
  margin-bottom: 22px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.registation-info p {
  margin-bottom: 21px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

ol {
  list-style: none;
}

ol>li {
  padding-left: 42px;
  position: relative;
  margin: 16px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

ol>li:before {
  content: "✔";
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  .main-header {
    height: 442px;
  }

  .main-header .sub-menu {
    margin-left: 0;
    z-index: 1;
  }

  .main-header .banner {
    height: 368px;
  }

  .main-header .banner .label_image {
    height: 368px;
    margin-left: 0;
  }

  .main-header .banner .label_image img {
    height: 368px;
  }

  .main-header .banner .label_txt {
    margin-top: 138px;
    margin-left: -47%;
  }

  .main-header .banner .label_txt h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 53px;
    white-space: nowrap;
  }

  .main-header .banner .label_txt p {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    white-space: nowrap;
  }

  .catalog {
    margin-top: -31px;
  }

  .catalog .content item a .item-text {
    margin: -101px 50px;
  }

  .catalog .content item a .item-text .item-text-1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  .catalog .content item a .item-text .item-text-2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }

  .catalog .content item a .item-text2 {
    margin: -85px 303px;
  }

  .catalog .content item a .item-text2 .item-text-3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  .catalog .content item a .item-text2 .item-text-4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }

  .Fetured {
    margin-top: 51px;
  }

  .content-2 {
    -ms-grid-columns: (47%)[2];
    grid-template-columns: repeat(2, 47%);
    -ms-grid-rows: (32%)[3];
    grid-template-rows: repeat(3, 32%);
  }

  .content-2 item .add-box {
    margin-top: -120%;
  }

  .all-product {
    margin-left: 36%;
    margin-bottom: 65px;
  }

  .footer_top {
    height: 610px;
  }

  .footer_top .top-footer {
    display: inline-block;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer_top .top-footer .footer-icon-block {
    margin-top: 50px;
    margin-left: 204px;
  }

  .footer_main {
    height: 693px;
    background-size: 130% 60%;
    background-position: bottom;
    background-color: #f4f4f4;
  }

  .footer_main .main-footer {
    display: inline-block;
    margin-left: 218px;
  }

  .footer_main .main-footer .subscribe {
    margin-top: 120px;
  }

  .bottom-footer {
    padding: 0 2%;
  }
}

@media (max-width: 375px) {
  .main-header {
    height: 437px;
  }

  .main-header .navileft .line_search input {
    display: none;
  }

  .main-header .naviright {
    margin-right: -39%;
  }

  .main-header .naviright .btn-profile {
    display: none;
  }

  .main-header .naviright .btn-basket {
    display: none;
  }

  .main-header .naviright .menu-catalog .sub-menu {
    margin-left: -52%;
    z-index: 1;
  }

  .main-header .banner {
    height: 363px;
  }

  .main-header .banner .label_image {
    height: 0;
    margin-left: 0;
    display: none;
  }

  .main-header .banner .label_image img {
    height: 363px;
  }

  .main-header .banner .label_txt {
    margin-top: 148px;
    margin-left: 15%;
  }

  .main-header .banner .label_txt h1 {
    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
    white-space: nowrap;
  }

  .main-header .banner .label_txt p {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    white-space: nowrap;
  }

  .catalog {
    margin-top: 23px;
  }

  .catalog .content {
    -ms-grid-columns: (100%)[1];
    grid-template-columns: repeat(1, 100%);
    -ms-grid-rows: (27%)[4];
    grid-template-rows: repeat(4, 27%);
    row-gap: 8%;
    margin-bottom: 210px;
  }

  .catalog .content .accessories {
    -ms-grid-column: 1;
    grid-column: 1/1;
  }

  .catalog .content .accessories .img-accessories {
    width: 189%;
    margin-left: -162px;
    margin-top: -100%;
  }

  .catalog .content item img {
    max-width: 189%;
  }

  .catalog .content item a .item-text {
    margin: -150px 120px;
  }

  .catalog .content item a .item-text .item-text-1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  .catalog .content item a .item-text .item-text-2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }

  .catalog .content item a .item-text2 {
    margin: -85px 122px;
  }

  .catalog .content item a .item-text2 .item-text-3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  .catalog .content item a .item-text2 .item-text-4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }

  .Fetured {
    margin-top: 51px;
  }

  .content-2 {
    -ms-grid-columns: (100%)[1];
    grid-template-columns: repeat(1, 100%);
    -ms-grid-rows: (15%)[6];
    grid-template-rows: repeat(6, 15%);
  }

  .content-2 item .add-box {
    margin-top: -110%;
  }

  .all-product {
    margin-top: -3px;
    margin-left: 23%;
    margin-bottom: 96px;
  }

  .footer_top {
    height: 610px;
  }

  .footer_top .top-footer {
    display: inline-block;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer_top .top-footer .footer-icon-block {
    margin-top: 50px;
    margin-left: 4%;
  }

  .footer_main {
    height: 550px;
    background-size: 165% 75%;
    background-position: bottom;
    background-color: #f4f4f4;
  }

  .footer_main .main-footer {
    display: inline-block;
    margin-left: 3%;
    margin-top: -60px;
  }

  .footer_main .main-footer .subscribe {
    margin-top: 51px;
  }

  .footer_bottom {
    height: 143px;
  }

  .footer_bottom .bottom-footer {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }

  .footer_bottom .bottom-footer .copyright {
    margin-left: 62px;
  }

  .footer_bottom .bottom-footer .social {
    margin-top: 65px;
    margin-left: 114px;
  }
}

/*# sourceMappingURL=style.css.map */